<div class="p-4">
  <section>
    <h2 class="text-center text-md-start">Estatísticas do Sistema</h2>
    <div>
      <ul class="row row-cols-1 row-cols-md-3 g-3 p-0">
        <li
          class="col"
          style="list-style: none"
          *ngFor="let stat of systemStats | keyvalue : keepOrder"
        >
          <div class="card d-flex align-items-center gap-2 p-3 shadow">
            <div class="d-flex gap-4 align-items-center">
              <img
                src="assets/images/{{ stat.value.icon }}.png"
                width="84"
                height="84"
                [alt]="stat.value.imageAlt"
              />
              <span class="fs-1 fw-bold">{{ stat.value.quantity }}</span>
            </div>
            <span class="fw-bold">{{ stat.key | titlecase }}</span>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <h2 class="text-center text-md-start">Informações Rápidas de Pacientes</h2>
    <div class="input-group mb-3">
      <img
        class="input-group-text border-secondary"
        src="assets/images/search.svg"
        alt="lupa"
      />
      <input
        type="text"
        class="form-control border-secondary"
        placeholder="Digite o nome do paciente"
        #searchInput
        (keyup.enter)="searchPatients(searchInput.value)"
      />
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="searchPatients(searchInput.value)"
      >
        Buscar
      </button>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 pb-4">
      <div class="col" *ngFor="let patient of filteredPatients">
        <div
          class="card d-flex flex-column align-items-center gap-2 p-3 shadow"
        >
          <img
            src="assets/images/person-circle-outline.svg"
            width="98"
            height="98"
            alt="ícone de usuário"
          />
          <span class="fs-5 fw-bold">{{ patient.nome }}</span>
          <span>{{ patient.dataNascimento | age }} Anos</span>
          <span>{{ patient.telefone }}</span>
          <span
            class="fw-bold"
            ngClass="{{
              patient.convenio?.nome ? 'text-primary' : 'text-warning'
            }}"
            >{{ patient.convenio?.nome || "sem convênio" | titlecase }}</span
          >
          <a
            class="btn btn-outline-dark"
            routerLink="/pacientes/editar/{{ patient.id }}"
            >Ver mais</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
