<nav
  class="position-sticky top-0 d-flex flex-column align-items-center justify-content-end min-vh-100 bg-primary text-white"
  *ngIf="shouldDisplay()"
>
  <div class="collapse navbar-collapse show" id="menubar" #menubar>
    <div class="d-flex flex-column align-items-center gap-1 mt-4 px-4">
      <img
        src="assets/images/logo-white.png"
        width="100px"
        height="100px"
        alt="LABMedical Logo"
      />
      <h1>LABMedical</h1>
    </div>

    <ul class="navbar-nav d-flex flex-column gap-4 navbar-nav w-100 mt-4 px-4">
      <li *ngFor="let category of menuCategories">
        <span>{{ category.title | titlecase }}</span>
        <ul class="navbar-nav">
          <li *ngFor="let item of category.items">
            <a
              class="nav-link text-nowrap d-flex align-items-center gap-2 ps-2 pe-5 py-2 mt-1 nav-item border border-3 rounded-3"
              routerLink="{{ item.page }}"
              [routerLinkActive]="item.page ? 'border-warning ' : ''"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="item.click && item.click()"
            >
              <img
                src="assets/images/{{ item.icon }}.svg"
                height="32px"
                width="32px"
                alt=""
              />
              {{ item.title | uppercase }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button
    type="button"
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#menubar"
    aria-controls="menubar"
    aria-expanded="true"
    #toggleButton
  >
    <img
      src="assets/images/toggle.svg"
      width="48px"
      height="48px"
      alt="esconder menubar"
    />
  </button>
</nav>
